@using BigOn.Business.Modules.ShopModule.Queries.BasketListQuery
@model IEnumerable<BasketListItem>
@{
    var summary = new
    {
        totalSum = Model.Sum(m=>m.Quantity * m.Price),
        totalCount = Model.Count()
    };

    <a asp-controller="Shop" asp-action="basket">
    <i class="fa fa-shopping-basket"></i>
    @if (summary?.totalCount > 0)
        {
            <span class="cart-counter bigcounter">@summary.totalCount</span>
        }
    </a>

    if (summary?.totalCount > 0)
    {
        <ul class="ht-dropdown main-cart-box">
            <li>
                @foreach(var item in Model)
                {
                    <div class="single-cart-box basket-item-@item.CatalogId">
                        <div class="cart-img">
                            <a asp-controller="shop" asp-action="details" asp-route-id="@item.ProductId">
                                <img src="~/uploads/images/@item.ImagePath" alt="@item.Name">
                            </a>
                        </div>
                        <div class="cart-content">
                            <h6> <a asp-controller="shop" asp-action="details" asp-route-id="@item.ProductId">@item.Name</a></h6>
                            <span>@Convert.ToInt32(item.Quantity) × @item.Price.ToString("0.00₼")</span>
                        </div>
                        <a class="del-icone" onclick="removeFromBasket(event, '@item.Name','@Url.Action("RemoveFromBasket","Shop")');return"
                           data-catalog-id="@item.CatalogId"
                           data-product-id="@item.ProductId"
                           aria-remove-target=".basket-item-@item.CatalogId">
                            <i class="fa fa-window-close-o"></i>
                        </a>
                    </div>
                }
                <div class="cart-footer fix">
                    <h5>total :<span class="f-right">@summary.totalSum.ToString("0.00₼")</span></h5>
                    <div class="cart-actions">
                        <a class="checkout" asp-controller="shop" asp-action="checkout">Checkout</a>
                    </div>
                </div>
            </li>
        </ul>
    }
   
}