@using BigOn.Business.Modules.ShopModule.Queries.ComplexFilterQuery
@model IPagedResponse<ComplexFilterResponseDto>


@{
    ViewData["Title"] = "Index";
}

<div id="shopify-section-template--14146685272115__main" class="shopify-section">
    <!-- Shop Page Start -->
    <div class="main-shop-page" id="section-template--14146685272115__main">
        <div class="container">
            <!-- Row End -->
            <div class="row">
                <!-- Product Categorie List Start -->
                <div class="col-md-push-3 col-md-9">
                    <!-- Single Banner Start -->
                    <div class="single-banner zoom mb-50">
                        <a href="all.html"><img src="../../cdn.shopify.com/s/files/1/0019/7181/4451/files/13dccd.jpg?v=1523773567" alt="slider-banner"></a>
                    </div>
                    <!-- Single Banner End -->
                    <!-- Grid & List View Start -->
                    <div class="grid-list-top border-default universal-padding fix mb-30">
                        <div class="grid-list-view f-left">
                            <div class="nav" role="tablist">
                                <ul class="list-inline">
                                    <li><a href="#" title="Grid view" class="change-view change-view--active" data-view="grid"><i class="fa fa-th"></i></a></li>
                                    <li><a href="#" title="List view" class="change-view" data-view="list"><i class="fa fa-list-ul"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Toolbar Short Area Start -->
                        <div class="main-toolbar-sorter f-right">
                            <div class="toolbar-sorter">
                                <label for="SortBy">Sort by</label>
                                <select name="SortBy" id="SortBy">
                                    <option value="manual">Featured</option>
                                    <option value="best-selling">Best Selling</option>
                                    <option value="title-ascending">Alphabetically, A-Z</option>
                                    <option value="title-descending">Alphabetically, Z-A</option>
                                    <option value="price-ascending">Price, low to high</option>
                                    <option value="price-descending">Price, high to low</option>
                                    <option value="created-descending">Date, new to old</option>
                                    <option value="created-ascending">Date, old to new</option>
                                </select>
                            </div>
                        </div>
                        <!-- Toolbar Short Area End -->
                    </div>
                    <!-- Grid & List View End -->


                    <script>
                        /*============================================================================
                          Inline JS because collection liquid object is only available
                          on collection pages and not external JS files
                        ==============================================================================*/
                        Shopify.queryParams = {};
                        if (location.search.length) {
                            for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
                                aKeyValue = aCouples[i].split('=');
                                if (aKeyValue.length > 1) {
                                    Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
                                }
                            }
                        }

                        $(function () {
                            $('#SortBy')
                                .val('title-ascending')
                                .bind('change', function () {
                                    Shopify.queryParams.sort_by = jQuery(this).val();
                                    location.search = jQuery.param(Shopify.queryParams);
                                }
                                );
                        });
                    </script>

                    <div class="main-categorie">
                        <div class="tab-content border-default fix">
                            <div id="grid-view">
                                <partial name="_Products" model="@Model"/>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- product Categorie List End -->
                <!-- Sidebar Shopping Option Start -->
                <div class="col-md-3 col-md-pull-9">
                    <div class="sidebar white-bg">


                        <div class="border-default universal-padding mb-40 sidebar-widget">
                            <div class="group-title">
                                <h2>Search</h2>
                            </div><div class="sidebar-search">
                                <form action="https://bigon-5.myshopify.com/search" method="get" role="search">
                                    <input type="hidden" name="type" value="product">
                                    <input type="search" name="q" value="" placeholder="Search our store" aria-label="Search our store">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>




                        <div class="border-default universal-padding mb-40 category-sub-menu sidebar-widget">
                            <div class="group-title">
                                <h2>Custom Menu</h2>
                            </div><ul class="manufactures-list">




                                <li class="has-sub ">
                                    <a href="../index.html">Home</a>
                                    <ul>

                                        <li><a href="../indexb21d.html?preview_theme_id=120458870835">Home Version 1</a></li>

                                        <li><a href="../index0e94.html?preview_theme_id=120458903603">Home Version 2</a></li>

                                        <li><a href="../indexac3b.html?preview_theme_id=120458969139">Home Version 3</a></li>

                                        <li><a href="../indexa51e.html?preview_theme_id=120459001907">Home Version 4</a></li>

                                        <li><a href="../indexfc63.html?preview_theme_id=120459034675">Home Version 5</a></li>

                                        <li><a href="../index070f.html?preview_theme_id=120459067443">Home Version 6</a></li>

                                        <li><a href="../index87da.html?preview_theme_id=120459100211">Home Version  RTL</a></li>

                                    </ul>
                                </li>




                                <li class=""><a href="../pages/about.html">about us</a></li>




                                <li class=""><a href="../pages/contact.html">contact us</a></li>




                                <li class="has-sub ">
                                    <a href="../blogs/news.html">blog</a>
                                    <ul>

                                        <li><a href="../blogs/news/temporibus-autem-quibusdam-3.html">blog details</a></li>

                                    </ul>
                                </li>




                                <li class="has-sub active">
                                    <a href="all.html">shop</a>
                                    <ul>

                                        <li><a href="all.html">laptops</a></li>

                                        <li><a href="all.html">monitors</a></li>

                                        <li><a href="laptops.html">image</a></li>

                                    </ul>
                                </li>




                                <li class="has-sub ">
                                    <a href="../products/aliquam-consequat-mattis.html">Products</a>
                                    <ul>

                                        <li><a href="../products/cras-neque-metus.html">Simple Product</a></li>

                                        <li><a href="../products/accusantium-doloremque.html">Variable Product</a></li>

                                        <li><a href="../products/affiliate-link-product.html">Affiliate Link product </a></li>

                                        <li><a href="../products/preorder-product.html">Product Preorder</a></li>

                                    </ul>
                                </li>


                            </ul>
                        </div>

                        @await Component.InvokeAsync("FilterColor")
                        @await Component.InvokeAsync("FilterPrice")
                        @await Component.InvokeAsync("FilterBrand")
                        @await Component.InvokeAsync("FilterMaterial")
                        @await Component.InvokeAsync("FilterSize")


                     @*    <div class="single-banner mb-40 sidebar-widget">
                            <div class="group-title">
                                <h2>Banner</h2>
                            </div>

                            <a href="all.html">
                                <img src="../../cdn.shopify.com/s/files/1/0019/7181/4451/files/8_grande2103.jpg?v=1523773590" alt="">
                            </a>

                        </div> *@
                        <!-- Single Banner End -->





                    </div>

                    <script>
                        $(".sidebar-widget li.active a").removeAttr("href");

                        $('.category-sub-menu li.has-sub > a').on('click', function () {
                            $(this).removeAttr('href');
                            var element = $(this).parent('li');
                            if (element.hasClass('open')) {
                                element.removeClass('open');
                                element.find('li').removeClass('open');
                                element.find('ul').slideUp();
                            } else {
                                element.addClass('open');
                                element.children('ul').slideDown();
                                element.siblings('li').children('ul').slideUp();
                                element.siblings('li').removeClass('open');
                                element.siblings('li').find('li').removeClass('open');
                                element.siblings('li').find('ul').slideUp();
                            }
                        });
                    </script>
                </div>
                <!-- Sidebar Shopping Option End -->

            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Shop Page End --><style data-shopify>
                              #section-template--14146685272115__main {
                                  padding-top: 0px;
                                  padding-bottom: 50px;
                              }

                              @@media (min-width: 768px) and (max-width: 991px) {
                                  #section-template--14146685272115__main {
                                      padding-top: 0px;
                                      padding-bottom: 50px;
                                  }
                              }

                              @@media (max-width: 767px) {
                                  #section-template--14146685272115__main {
                                      padding-top: 0px;
                                      padding-bottom: 50px;
                                  }
                              }</style>
</div>

@section breadcrumbs {
    <div class="breadcrumbs-section ptb-50">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">

                            <nav class="" role="navigation" aria-label="breadcrumbs">
                                <ul class="breadcrumb-list">
                                    <li>
                                        <a asp-controller="home" asp-action="index" title="Back to the home page">Home</a>
                                    </li>
                                    <li>



                                        <span>Products</span>



                                    </li>
                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>

        .breadcrumbs-section .breadcrumbs-inner {
            background-color: #f5f5f5;
        }

    </style>
  }
  @section addcss{
    <link href="~/libraries/zoom-image-viewer/zoom-image-viewer.css" rel="stylesheet" />

  }
@section addjs{
   
    <script src="~/libraries/zoom-image-viewer/zoom-image-viewer.js"></script>
    <script src="~/assets/js/additional.js"></script>
    <script src="https://kit.fontawesome.com/85493f3ea1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>

        const filterObject = {
            page: 1,
            size: 8,
            sizes: [],
            colors: [],
            brands: [],
            materials: [],
            price: {
                min: 0,
                max: 0
            }
        };

        $(document).ready(function () {

            let data = $("#price-range").data();

            data = {
                min: parseInt(data.min),
                max: parseInt(data.max)
            };

            $("#price-range")
                .attr('range', `${data.min}₼ - ${data.max}₼`)
                .slider({
                    range: true,
                    min: data.min,
                    max: data.max,
                    values: [data.min, data.max],
                    slide: function (e, ui) {
                        $(e.target).attr('range', `${ui.values[0]}₼ - ${ui.values[1]}₼`);
                        filterObject.price.min = parseInt(ui.values[0]);
                        filterObject.price.max = parseInt(ui.values[1]);

                        filterObject.page = 1;
                        search(filterObject);
                    }
                });

            $('a[data-entity-type]').click(function (e) {
                e.preventDefault();

                $(e.currentTarget).toggleClass('active');

                let dataObj = $(e.currentTarget).data();

                if ($(e.currentTarget).hasClass('active')) {
                    filterObject[dataObj.entityType].push(dataObj.id);
                }
                else {
                    filterObject[dataObj.entityType] = filterObject[dataObj.entityType]
                        .filter(item => item != dataObj.id)
                }

                filterObject.page = 1;
                search(filterObject);
            });


            $('a.add-to-cart').unbind().click(function (e) {
                e.preventDefault();

                $('body').addClass('fade-active');

                const productId = $(e.currentTarget).data('id');

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProductCatalog")",
                    data: { productId },
                    dataType: "html",
                    success: function (response) {

                        $('.dynamic-content').html(response);
                        getPrice(productId, `@Url.Action("GetPrice")`);

                        $("form#chooseproduct").on('hide.bs.modal', function () {
                            $('body').removeClass('fade-active');
                        });

                        $('form#chooseproduct').submit(function (e) {
                            e.preventDefault();

                            let formData = new FormData(e.currentTarget);

                            $.ajax({
                                url: '@Url.Action("AddToBasket")',
                                type: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $(e.currentTarget).modal('hide');
                                },
                                error: function (response) {
                                    console.log(response);
                                }
                            });
                        });

                        $('.zoom-image-viewer li.thumbnail').each((index, item) => {
                            const data = $(item).data();
                            $(item).css('background-image', `url(${data.image})`);
                        })
                            .click(function (e) {
                                e.preventDefault();
                                const data = $(e.currentTarget).data();
                                $('.zoom-image-viewer .original > img').prop('src', data.image).zoom(2);
                                $('.zoom-image-viewer .viewer > img').prop('src', data.image);
                            }).first().trigger('click');

                        $('#chooseproduct').modal({ backdrop: 'static', keyboard: false, show: true });
                        $('.owl-carousel').owlCarousel({
                            loop: false,
                            navText: [
                                "<i class='fa fa-angle-left'></i>",
                                "<i class='fa fa-angle-right'></i>"
                            ],
                            margin: 15,
                            smartSpeed: 1000,
                            nav: true,
                            dots: false,
                            responsive: {
                                0: {
                                    items: 4
                                },
                                600: {
                                    items: 4
                                },
                                1000: {
                                    items: 5
                                }
                            }
                        });
                    }
                });
            });

            window.addEventListener('scroll', onScroll);
        });

        function onScroll() {
            const { scrollTop, scrollHeight, clientHeight } = document.documentElement;

            if (scrollTop + clientHeight >= scrollHeight - 828) {
                console.log(scrollTop, scrollHeight, clientHeight);


                filterObject.page = filterObject.page + 1;
                search(filterObject);

                window.removeEventListener('scroll', onScroll);
            }
        }


        function search(filterObj) {

            console.log(filterObject);

            if ($.pid)
                clearTimeout($.pid);

            $.pid = setTimeout(function (filterData) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Index")",
                    data: filterData,
                    dataType: "html",
                    beforeSend: function () {
                        if (filterData.page == 1) {
                            $('#grid-view').html('Loading...');
                        }
                    },
                    success: function (response) {
                        if (filterData.page == 1) {
                            $('#grid-view').html(response);
                        }
                        else {
                            let elements = $(response);
                            $('#grid-view').append(elements);
                        }
                        $('a.add-to-cart').unbind().click(function (e) {
                            e.preventDefault();

                            $('body').addClass('fade-active');

                            const productId = $(e.currentTarget).data('id');

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("ProductCatalog")",
                                data: { productId },
                                dataType: "html",
                                success: function (response) {

                                    $('.dynamic-content').html(response);
                                    getPrice(productId, `@Url.Action("GetPrice")`);

                                    $("form#chooseproduct").on('hide.bs.modal', function () {
                                        $('body').removeClass('fade-active');
                                    });

                                    $('form#chooseproduct').submit(function (e) {
                                        e.preventDefault();

                                        let formData = new FormData(e.currentTarget);

                                        $.ajax({
                                            url: '@Url.Action("AddToBasket")',
                                            type: 'POST',
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            success: function (response) {
                                                $(e.currentTarget).modal('hide');
                                            },
                                            error: function (response) {
                                                console.log(response);
                                            }
                                        });
                                    });

                                    $('.zoom-image-viewer li.thumbnail').each((index, item) => {
                                        const data = $(item).data();
                                        $(item).css('background-image', `url(${data.image})`);
                                    })
                                        .click(function (e) {
                                            e.preventDefault();
                                            const data = $(e.currentTarget).data();
                                            $('.zoom-image-viewer .original > img').prop('src', data.image).zoom(2);
                                            $('.zoom-image-viewer .viewer > img').prop('src', data.image);
                                        }).first().trigger('click');

                                    $('#chooseproduct').modal({ backdrop: 'static', keyboard: false, show: true });
                                    $('.owl-carousel').owlCarousel({
                                        loop: false,
                                        navText: [
                                            "<i class='fa fa-angle-left'></i>",
                                            "<i class='fa fa-angle-right'></i>"
                                        ],
                                        margin: 15,
                                        smartSpeed: 1000,
                                        nav: true,
                                        dots: false,
                                        responsive: {
                                            0: {
                                                items: 4
                                            },
                                            600: {
                                                items: 4
                                            },
                                            1000: {
                                                items: 5
                                            }
                                        }
                                    });
                                }
                            });
                        });
                        window.addEventListener('scroll', onScroll);
                    }
                });

            }, 1500, filterObj);
        }
    </script>
    @* <script>
        const filterObject = {
            colors:[],
            sizes:[],
            brands:[],
            materials:[],
            price:{
                min:0,
                max: 0
            }
        }

        $(document).ready(function () {
            let data = $('#price-range').data();

            data = {
                min: parseInt(data.min),
                max: parseInt(data.max)
            }

            updateRangeValues(data.min, data.max);
            $('#price-range').attr('range', `${data.min}₼ - ${data.max}₼`)
                .slider({
                    range: true,
                    min: data.min,
                    max: data.max,
                    values: [data.min, data.max],
                    slide: function (e, ui) {
                        $(e.target).attr('range', `${ui.values[0]}₼-${ui.values[1]}₼`);
                        filterObject.price.min = parseInt(ui.values[0]);
                        filterObject.price.max = parseInt(ui.values[1]);
                        updateRangeValues(ui.values[0], ui.values[1]);
                        search(filterObject);
                    }
                });
            $('a[data-entity-type]').click(function (e) {
                e.preventDefault();
                $(e.currentTarget).toggleClass('active');
                let dataObj = $(e.currentTarget).data();
                if ($(e.currentTarget).hasClass('active')) {
                    filterObject[dataObj.entityType].push(dataObj.id);
                }
                else {
                    filterObject[dataObj.entityType] = filterObject[dataObj.entityType].filter(item => item != dataObj.id)
                }
                search(filterObject);

            })

            $('a.add-to-cart').unbind().click(function (e) {

                e.preventDefault();

                const productId = $(e.currentTarget).data('id');
                $('body').addClass('fade-active')


                $.ajax({
                    url: "@Url.Action("ProductCatalog")",
                    type: 'POST',
                    data: { productId },
                    dataType: "html",
                    success: function (response) {
                       $('.dynamic-content').html(response)

                        getPrice(productId,`@Url.Action("GetPrice")`);

                        $('#chooseProduct').modal({ backdrop: 'static', keyboard: false, show: true });
                        $("#chooseProduct").on('hide.bs.modal', function () {
                            $('body').removeClass('fade-active');
                        });

                        $("#chooseProduct").submit(function (e) {
                            e.preventDefault();
                            let formData = new FormData(e.currentTarget);

                            $.ajax({
                                url: '@Url.Action("AddToBasket")',
                                type: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $(e.currentTarget).modal('hide');
                                },
                                error: function (response) {
                                    console.log(response)
                                }
                            });

                        });

                       
                        $('.zoom-image-viewer li.thumbnail').each((index, item) => {
                            const data = $(item).data();
                            $(item).css('background-image', `url(${data.image})`);
                        })
                            .click(function (e) {
                                e.preventDefault();
                                const data = $(e.currentTarget).data();
                                $('.zoom-image-viewer .original > img').prop('src', data.image).zoom(2);
                                $('.zoom-image-viewer .viewer > img').prop('src', data.image);
                            }).first().trigger('click');

                        $('#chooseProduct').modal({ backdrop: 'static', keyboard: false, show: true });
                        $('.owl-carousel').owlCarousel({
                            loop: false,
                            navText: [
                                "<i class='fa fa-angle-left'></i>",
                                "<i class='fa fa-angle-right'></i>"
                            ],
                            margin: 15,
                            smartSpeed: 1000,
                            nav: true,
                            dots: false,
                            responsive: {
                                0: {
                                    items: 4
                                },
                                600: {
                                    items: 4
                                },
                                1000: {
                                    items: 5
                                }
                            }
                        });
                    }
                });

            })


            function updateRangeValues(min, max) {
                $('#range-values').text(`${min}-${max}`);
            }
            function search(filterObj) {
                if ($.pid) {
                    clearTimeout($.pid)
                }
                $.pid = setTimeout(function (filterData) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Index")",
                        data: filterData,
                        dataType: "html",
                        beforeSend: function (){
                            $("#grid-view").html("Filtering")
                        },
                        success: function (response){
                            $("#grid-view").html(response)
                        }
                    });

                }, 1.5e3, filterObj)
            }
        });
    </script> *@
 }